.primary {
  color: red;
  background-color: black;
  border: 1px solid red;
  border-radius: 7px;
  height: 2em;
  width: 6em;
  cursor: pointer;
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transition: ease all 0.3s;
}

.primary:hover {
  background-color: white;
  color: black;
}

button:focus {
  outline: none;
}


.secondary {
  color: red;
}

.big {
  color: purple;
}
